{% extends 'doggie/base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<section id="main" >
<div class="inner">
<h3>Login</h3>
</br>

<form method="post" action=".">
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="Log In" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>
    Not registered?
    <a href="{% url 'registration_register' %}" class="contentlink">Register here!</a> 
</p>

</div>
</section>
{% endblock %}
