{% extends 'doggie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Doggie
{% endblock %}

{% block body_block %}
				<section id="aboutus">
				<div class="inner">
<!-- 					<header> -->
					<br/>
					<br/>
						<h3>We are Group X</h3>
						<br/>
					</header>
					<div class="flex flex-4"  style=text-align: center>
						<div class="box person" style=text-align: center;>
							<div class="image round">
								<img src="/media/images/avatar/ssy.png" alt="Person 1" />
							</div>
							<h5> &nbsp&nbsp&nbspSiyu Shang</h5>
							<p> &nbsp&nbsp&nbsp2485408S</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="/media/images/avatar/swz.png" alt="Person 2" />
							</div>
							<h5>&nbspWanzhen Sun</h5>
							<p> &nbsp2494274S</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="/media/images/avatar/yfy.png" alt="Person 3" />
							</div>
							<h5> &nbsp&nbsp&nbsp&nbspFanyu Ye</h5>
							<p> &nbsp&nbsp&nbsp&nbsp2448797Y</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="/media/images/avatar/zzt.png" alt="Person 4" />
							</div>
							<h5> &nbsp&nbsp&nbspZitong Zhao</h5>
							<p> &nbsp&nbsp&nbsp2453357Z</p>
						</div>
						</br>
						
					</div>
					</br>
					</br>
					</br>
					</br>
				</div>
			</section>

{% endblock %}
