{% extends 'doggie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    This a dog
{% endblock %}

{% block body_block %}

        {% if dogs %}
            {% for dog in dogs %}
            <section id="main" >
<div class="inner">
            <img src="{{ MEDIA_URL }}{{ dog.images }}"width="400px" height="400px"> </br>
            <strong> Dog Name:</strong>  {{ dog.dog_name}} </br>
            <strong>Dog Short Description:</strong>   {{ dog.short_description}} </br>
            <strong> Dog Long Description:</strong>  {{ dog.long_description}} </br>
            <strong> Dog Life Span:</strong>  {{ dog.life_span}} </br>
            <strong> Dog Price (£):</strong>   {{ dog.price}} </br>
            {% endfor %}
        {% else %}
        <strong>No dog!</strong>
        {% endif %}
        </br>
        <button onclick="goBack()">Go back</button>
        </div>

        </section>
        {% include 'doggie/comment_list.html'%}
{% endblock %}
