<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Dog detail</title>
    </head>

    <body>
        <div>
        {% if dog %}
            {% for dog in dog %}
            <li>{{ dog.dog_name}}</li>
            <li>{{ dog.short_description}}</li>
            <li>{{ dog.long_description}}</li>
            <li>{{ dog.life_span}}</li>
            <li>{{ dog.price}}</li>

            {% endfor %}
        {% else %}
                <strong>No dog!</strong>
        {% endif %}
        </div>

    </body>

</html>
