{% extends 'doggie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    This a dog
{% endblock %}

{% block body_block %}
        <div>
        {% if dog %}
            {% for dog in dog %}
            <img src="{{ MEDIA_URL }}{{ dog.images }}" >
            <li>{{ dog.dog_name}}</li>
            <li>{{ dog.short_description}}</li>
            <li>{{ dog.long_description}}</li>
            <li>{{ dog.life_span}}</li>
            <li>{{ dog.price}}</li>

            {% endfor %}
        {% else %}
                <strong>No dog!</strong>
        {% endif %}
        </div>
        <button onclick="goBack()">Go back</button>
{% endblock %}
