<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Doggie dogcategory</title>
    </head>

    <body>
        <div>
        {% if dogcategory %}
            <h1>{{ dogcategory.name }}</h1>
            {% if dogs %}
            <ul>
                {% for dog in dogs %}
                <li><a href="/doggie/dogcategory/{{ dogcategory.slug }}/{{ dog.slug }}/">{{ dog.dog_name }}</a></li>
                <p>{{ dog.short_description }}</p>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No dogs currently in dogcategory.</strong>
            {% endif %}
        {% else %}
            The specified dogcategory does not exist.
        {% endif %}
        </div>

    </body>

</html>
