{% extends 'doggie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    This a dogcategory
{% endblock %}

{% block body_block %}
<section id="main">
<div class="inner">
        {% if dogcategory %}
            <h3>{{ dogcategory.name }}</h3>
            </br>
            {% if dogs %}
            <ul style=padding:-25px;>
                {% for dog in dogs %}
                <img src="{{ MEDIA_URL }}{{ dog.images }}" width="150px" height="150px">
                <li style="list-style-type:none; margin:-8px; padding-bottom:8px;"><strong><a style="color:#e5474b" href="/doggie/dogcategory/{{ dogcategory.slug }}/{{ dog.slug }}/">{{ dog.dog_name }}</a></strong></li>
                <p style="max-width:350px; line-height:26px;">{{ dog.short_description }}<hr /></p>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No dogs currently in dogcategory.</strong>
            {% endif %}
            <a href="/doggie/add_dog/" style=color:red> Add Dog</a> <br />
        {% else %}
            The specified dogcategory does not exist.
        {% endif %}
        <br/>
         <button onclick="goBack()">Go back</button>
        </div>
        </section>
{% endblock %}
