{% extends 'doggie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}




		<!-- Banner -->
	<section id="banner" >
		<div class="inner">
			<h1>HAPPINESS IS A WARM DOG.</h1>
			 <div>
              {% if user.is_authenticated %}
           <strong style="color:#e5474b;font-size:22px" style=margin-bottom:18px>   Welcome! {{ user.username }}</strong>
             {% else %}
             <strong style="color:#e5474b;font-size:22px" style=margin-bottom:18px> Hey guest!</strong>
             {% endif %}
<!-- 
             <br />
            <strong>{{ boldmessage }}</strong><br />
 -->
        </div>
			 <p style="color:#d7d7d7;font-size:18px"> We have got {{ visits }} vistors</p>
			 <div class="search">
             <div>
<!-- 
                <button class="searchbtn type="button">
                <a href="/search/">
                search</a></button>
 -->
               <a href="/search/" class="button" style=margin-bottom:-30px>search</a>
              </div>

		</div>

	</section>

<!-- Three -->

            <section id="three">

				<div class="inner">
		 {% if dogcategories %}

        {% for dogcategory in dogcategories %}	
				 {% if dogcategory.slug == 'smalldog' %}
					<article>
						<div class="content">
                    
                        <img src="/media/images/icon/hsk.png" alt="small dog" />
							<header>
								<h3 style=margin-bottom:10px >small dogs</h3>
							</header>
							<p>Small dogs are suitable for living in the city. Most of them are cheerful, lively, docile and lively.</p>
							<ul class="actions">
								<li><a href="{% url 'doggie:show_dogcategory' dogcategory.slug %}" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					

					
				  {% elif dogcategory.slug == 'middog' %}
					<article>
					 	<div class="content">
					
                           <img src="/media/images/icon/gou.png" alt="medium dog" />
							<header>
								<h3 style=margin-bottom:10px>medium dogs</h3>
							</header>
							<p>The medium sized dogs are gentle with people. Most of them can even help take care of the children.</p>
							<ul class="actions">
								<li><a href="{% url 'doggie:show_dogcategory' dogcategory.slug %}" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					
					 {% elif dogcategory.slug == 'bigdog' %}
					<article>
					<div class="content">
					
                    <img src="/media/images/icon/jm.png" alt="big dog" />
							<header>
								<h3 style=margin-bottom:10px>large dogs</h3>
							</header>
							<p>The large sized dogs provide security and they can guard the house. They have territorial awareness.</p>
							<ul class="actions">
								<li><a href="{% url 'doggie:show_dogcategory' dogcategory.slug %}" class="button alt">Learn More</a></li>
							</ul>
					    </div>
					</article>
        {% endif %}
        {% endfor %}

        {% else %}
            <strong>There are no dogcategories present.</strong>
        {% endif %}
						</div>
				</div>
			</section>


{% endblock %}
