{% extends 'doggie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}


        <p>Visits: {{ visits }}</p>
        <div>
              {% if user.is_authenticated %}
               howdy {{ user.username }}!
             {% else %}
                 hey there partner!
             {% endif %}
             <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            <h2>Select Your Categories</h2>

        {% if dogcategories %}

        {% for dogcategory in dogcategories %}
            {% if dogcategory.slug == 'smalldog' %}
                <a href="{% url 'doggie:show_dogcategory' dogcategory.slug %}">{{ dogcategory.name }}</a>
            {% elif dogcategory.slug == 'middog' %}
                <a href="{% url 'doggie:show_dogcategory' dogcategory.slug %}">{{ dogcategory.name }}</a>
            {% elif dogcategory.slug == 'bigdog' %}
                <a href="{% url 'doggie:show_dogcategory' dogcategory.slug %}">{{ dogcategory.name }}</a>
            {% endif %}
        {% endfor %}

        {% else %}
            <strong>There are no dogcategories present.</strong>
        {% endif %}
        </div>

        <div>

        </div>

{% endblock %}
