<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Doggie</title>

    </head>

    <body>
        <h1>doggie says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
        {% if dogcategories %}
        <ul>
        {% for dogcategory in dogcategories %}
            <li><a href="/doggie/dogcategory/{{ dogcategory.slug }}/">{{ dogcategory.name }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <strong>There are no dogcategories present.</strong>
        {% endif %}
        </div>


        <div>
            <a href="/doggie/about/">About</a><br />

        </div>
    </body>

</html>
