{% extends 'doggie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<section id="main" >
<div class="inner">
        <h3>{{ selected_user.username }}'s Profile</h3>
<br/>

        {% if user_profile.picture %}
        <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="300" height="300" alt="{{ selected_user.username }}'s profile image" />
        {% else %}
        <img src="https://lorempixel.com/300/300/people/" width="300" height="300" alt="Placeholder image" />
        {% endif %}
        <br />
        <div>
            {% if selected_user == user %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Update" />
            </form>
            {% else %}

            {% endif %}
            <a href="{% url 'auth_password_change' %}" style=color:Red>Change your Password</a><br/>
<!--         <a href="{% url 'doggie:add_dogcategory' %}"style=color:Red>Add a New Category</a><br />   -->
            <a href="{% url 'doggie:add_dog' %}"style=color:Red>Add a New Dog</a><br />
        </div>
        </div>
</section>
{% endblock %}
